<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js</title>
  <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
  <div id="app">
    <h1>Title: {{ title }}</h1>
    <h2>Author: {{ author }} ({{ age }})</h2>
    <button v-on:click="increaseAge">increase age</button>
    <button @click="decreaseAge">decrease age</button>
    <div @mouseover="changeText">
      <p>{{ text }}</p>
    </div>
    <div v-if="showDiv">
      <div style="background-color: blueviolet; height: 20px;"></div>
    </div>
    <div>
      <div v-if="showDiv" style="background-color: pink; height: 10px;"></div>
      <div v-else style="background-color: orange; height: 10px;"></div>
    </div>
    <button @click="hideDiv">{{ msg }}</button>
  </div>

  <script src="app.js"></script>
</body>
</html>